<%- include('../../partials/header'); %>

<div class="form-page">
  <form
    class="form-container editemail-form"
    action="http://localhost:5000/authentication/user/edit/email"
    method="PATCH"
  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

    <div class="form-label-container">
      <p>Edit Email</p>
    </div>

    <div class="form-element">
      <label for="newUsername">New Username</label>
      <input
        type="email"
        name="newUsername"
        id="newUsername"
        placeholder="johndoe"
      />
      <p class="input-info">Anything is possible</p>
    </div>

    <div class="form-element">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password Field"
        pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,32}$"
      />
      <p class="input-info">
        Must be 8-16 characters container numbers and special characters.
      </p>
    </div>

    <div class="form-element">
      <label for="passwordConfirmation">Confirm Password</label>
      <input
        type="password"
        name="passwordConfirmation"
        id="passwordConfirmation"
        placeholder="Password Confirmation Field"
        pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,32}$"
      />
      <p class="input-info">
        Must be the same value as the password field above
      </p>
    </div>

    <div class="form-button-container">
      <button type="submit">Change Email</button>
    </div>
  </form>
</div>

<%- include('../../partials/footer'); %>
