<%- include('../../partials/header'); %>

<div class="form-page">
  <form
    class="form-container login-form"
    action="http://localhost:5000/authentication/user/reset/email"
    method="POST"
  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

    <div class="form-label-container">
      <p>Forgot Password</p>
    </div>

    <div class="form-element">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="johndoe@email.com"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
      <p class="input-info">
        We'll send the instructions to reset your passwor to your email
      </p>
    </div>

    <div class="form-button-container">
      <button type="submit">Reset Password</button>
    </div>
  </form>
</div>

<%- include('../../partials/footer'); %>
