<%- include('../../partials/header'); %>

<div class="form-page">
  <form
    class="form-container signup-form"
    action="http://localhost:4000/authentication/user/signup"
    method="POST"
  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

    <div class="form-label-container">
      <p>Sign Up</p>
    </div>

    <div class="form-element">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="johndoe@email.com"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
      <p class="input-info">Must be a valid email address</p>
    </div>

    <div class="form-element">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password Field"
        pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,32}$"
      />
      <p class="input-info">
        Must be 8-16 characters container numbers and special characters.
      </p>
    </div>

    <div class="form-element">
      <label for="passwordConfirmation">Confirm Password</label>
      <input
        type="password"
        name="passwordConfirmation"
        id="passwordConfirmation"
        placeholder="Password Confirmation Field"
        pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,32}$"
      />
      <p class="input-info">
        Must be the same value as the password field above
      </p>
    </div>

    <div class="form-button-container">
      <button type="submit">Complete Registration</button>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>

<%- include('../../partials/footer'); %>
